{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bitovoy Texnika</title>
    </head>
    <body>
        <center>
            <br>
            <h3>{% trans "Parolingiz Muvaffaqiyatli O'zgardi" %} !</h3>
            <br>
            <h4><a href="{% url 'home' %}">{% trans 'Bosh Sahifa' %}</a></h4>
        </center>
    </body>
    </html>

{% endblock content %}
